<%- include('partials/header'); -%>

<div class="main-image">
    <div class="text-box">
        <pre>सुखार्थिनः कुतोविद्या नास्ति विद्यार्थिनः सुखम् ।
सुखार्थी वा त्यजेद् विद्यां विद्यार्थी वा त्यजेत् सुखम् ॥</pre>
<a href="/feedback">
<button type="button" class="btn btn-outline-primary feedbackBtn">Feedback</button></a>
    </div>
</div>
<div class="quote-section">
    <h2>IMPORTANCE OF EDUCATION</h2>
    <p>
        <q>There are many ways you can make an impact on the world.
            But there is no greater impact that you can make than spreading education, and empowering people
            who’ll empower and teach people,
            who, in turn, will empower and teach more.
        </q>
    </p>
</div>
<div class="grid-container1">
    <div class="grid-container2" style="color: black;">
        <div class="grid-item">
            <a href="/state/Andhra pradesh">
                <img src="Maps\Andhra Pradesh.png" alt="AnP">
            <p>Andhra Pradesh</p>
            </a>
            
        </div>
        <div class="grid-item">
            <img src="Maps\arunachal pradesh.png" alt="ArP">
            <p>Arunachal Pradesh</p>
        </div>
        <div class="grid-item">
            <a href="/state/Assam">
                <img src="Maps\Assam.png" alt="AnP">
                <p>Assam</p>
            </a>
            
        </div>
        <div class="grid-item">
            <a href="/state/Bihar">
                <img src="Maps\Bihar.png" alt="AnP">
                <p>Bihar</p>
            </a>
            
        </div>
        <div class="grid-item">
            <a href="/state/Chhattisgarh">
                <img src="Maps\Chhattisgarh.png" alt="AnP">
            <p>Chhattisgarh</p>
            </a>
        </div>
        <div class="grid-item">
            <a href="/state/Goa">
                <img src="Maps\Goa.png" alt="AnP">
            <p>Goa</p>
            </a>
        </div>
        <div class="grid-item">
            <a href="/state/Gujarat">
                <img src="Maps\gujarat.png" alt="AnP">
            <p>Gujarat</p>
            </a>
            
        </div>
        <div class="grid-item">
            <img src="Maps\Haryana.png" alt="AnP">
            <p>Haryana</p>
        </div>
        <div class="grid-item">
            <a href="/state/Himachal Pradesh">
                <img src="Maps\Himachal Pradesh.png" alt="AnP">
                <p>Himachal Pradesh</p>
            </a>
        </div>
        <div class="grid-item">
            <img src="Maps\Jharkhand.png" alt="AnP">
            <p>Jharkhand</p>
        </div>
        <div class="grid-item">
            <img src="Maps\karnataka.png" alt="AnP">
            <p>karnataka</p>
        </div>
        <div class="grid-item">
            <img src="Maps\Kerala.png" alt="AnP">
            <p>Kerala</p>
        </div>
        <div class="grid-item">
            <img src="Maps\madhyapradesh.png" alt="AnP">
            <p>Madhya Pradesh</p>
        </div>
        <div class="grid-item">
            <img src="Maps\Maharastra.png" alt="AnP">
            <p>Maharastra</p>
        </div>
        <div class="grid-item">
            <img src="Maps\manipur.png" alt="AnP">
            <p>Manipur</p>
        </div>
        <div class="grid-item">
            <img src="Maps\meghalaya.png" alt="AnP">
            <p>Meghalaya</p>
        </div>
        <div class="grid-item">
            <img src="Maps\mizoram.png" alt="AnP">
            <p>Mizoram</p>
        </div>
        <div class="grid-item">
            <img src="Maps\Ngaland.png" alt="AnP">
            <p>Nagaland</p>
        </div>
        <div class="grid-item">
            <img src="Maps\Odisha.png" alt="AnP">
            <p>Odisha</p>
        </div>
        <div class="grid-item">
            <img src="Maps\punjab.png" alt="AnP">
            <p>Punjab</p>
        </div>
        <div class="grid-item">
            <img src="Maps\Rajasthan.png" alt="AnP">
            <p>Rajasthan</p>
        </div>
        <div class="grid-item">
            <img src="Maps\Sikkim.png" alt="AnP">
            <p>Sikkim</p>
        </div>
        <div class="grid-item">
            <img src="Maps\tamil_nadu.png" alt="AnP">
            <p>TamilNadu</p>
        </div>
        <div class="grid-item">
            <img src="Maps\Telangana.png" alt="AnP">
            <p>Telangana</p>
        </div>
        <div class="grid-item">
            <img src="Maps\tripura.png" alt="AnP">
            <p>Tripura</p>
        </div>
        <div class="grid-item">
            <img src="Maps\UP.png" alt="AnP">
            <p>Uttar Pradesh</p>
        </div>
        <div class="grid-item">
            <img src="Maps\Uttarakhand.png" alt="AnP">
            <p>Uttarakhand</p>
        </div>
        <div class="grid-item">
            <img src="Maps\West Bengal.png" alt="AnP">
            <p>West Bengal</p>
        </div>
    </div>
    <div class="recentNews">
        <h3>Recent News</h3>
    </div>
</div>
    <script>
        var navLinks = document.getElementById("navLink");

        function showMenu() {
            navLinks.style.right = "0";
        }
        function hideMenu() {
            navLinks.style.right = "-200px";
        }
    </script>
     <section class="philosophers-section">
        <div class="grid-quote">
                <li>
                    <img src="Chanakya.jpeg" alt="Chanakya">
                    <div class="quote">
                    <blockquote>"Education is the best friend. An educated person is represented everywhere. Education beats the beauty and the youth."</blockquote>
                    <cite>-Chanakya</cite>
                    </div>
                    
                </li>
                <li>
                    <img src="Gargi.jpeg" alt="Gargi Vachaknavi">
                    <blockquote class="quote">She wrote many hymns in Rig Veda. Due to the depth of her Vedic expertise,she was frequently invited to debates with male philosophers of her time."</blockquote>
                    <cite>-Gargi Vachaknavi</cite>
                </li>
        </div>
    </section>
     <div class="nav-intlink" style="background-color:#20272e">
        
                <li>
                    <h5 id="About">ABOUT US</h5>
                    <p>we are the team of member 6 currently pursuing B.tech from KRISHNA ENGINEEERING COLLEGE <br>our main aim is to find out the gray areas through district wise so that the quality of the education will be improved in those areas <br>This will help the government to provide the best facilities to those areas where seriously higher concentrarion is needed</p>
                </li>
                <li>
                    <h6>HELP DESK</h6>
                    <p class="ih">CONTACT US:<br>Email-samtva.vidya@gmail.com<br>Contact Number:-<br>:-9899279562<br>9873431217</p>
                </li>
            
                </div>
    
    <%- include('partials/footer'); -%>




