<%- include('partials/header'); -%>

<div style="text-align: center; margin-top: 50px;">
    <h2>Select Your Institution Category</h2>
</div>

<div class="btn-fdbs">
    <a href="/feedback/school">
    <button type="button" class="btn btn-primary btn-lg btn-sub">School</button></a>
    <a href="/feedback/college">
    <button type="button" class="btn btn-secondary btn-lg">College</button>
</a>

</div>



<%- include('partials/footer'); -%>